numpy
scipy
astropy
matplotlib
pandas
scikit-learn
pint-pulsar
#git+https://github.com/nanograv/pint.git@e5f6b260422898f63c88d636712fcc1cdd76cf20
tqdm
jplephem
datashader
bokeh
holoviews
statsmodels
h5py
astroquery
plotly
dash
stingray>=0.3
pyyaml
hendrics
