numpy
scipy
astropy>=3.2,!=4.0.1,!=4.0.1.post1
matplotlib
pandas
sklearn
pint-pulsar
#git+https://github.com/nanograv/pint.git@e5f6b260422898f63c88d636712fcc1cdd76cf20
tqdm
jplephem
datashader
bokeh
holoviews
statsmodels
h5py
astroquery

