numpy>=1.16.4
scipy>=1.30
astropy>=4.0
matplotlib>=3.1.0
pandas>=0.24.2
scikit-learn>=0.21.2
pint-pulsar>=0.7
#git+https://github.com/nanograv/pint.git@e5f6b260422898f63c88d636712fcc1cdd76cf20
tqdm>=4.32.1
jplephem>=2.9
datashader
bokeh
holoviews
statsmodels
h5py
astroquery
plotly
dash
stingray>=0.3
pyyaml

